<div class="container mt-5">
  <div class="form-size">
    <h1 style="text-align: center">Edit your Manga</h1>
    <%= render "form", manga: @manga %>
    <%= link_to "Back to list", manga_path, class: "button-black", style: "margin-top: 100px" %>
  </div>
</div>
