// Define variables for your color scheme

// For example:
$red: #EC050D;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #EEE2CE;
$black: #0A0A0A;
