<h1>Bookings#index</h1>

<ul>
  <% @waiting.each do |element| %>
    <li class="waiting"> <%= element %> 1</li>
  <% end %>
  <% @accepted.each do |element| %>
    <li class="accepted"> <%= element %> 2</li>
  <% end %>
  <% @denied.each do |element| %>
    <li class="denied"> <%= element %> 3</li>
  <% end %>
</ul>
