<h1>Bookings#index</h1>

<ul>
  <% @wainting.each |element| do %>
    <li class="wainting"> <%= element %> </li>
  <% end %>
  <% @accepted.each |element| do %>
    <li class="accepted"> <%= element %> </li>
  <% end %>
  <% @denied.each |element| do %>
    <li class="denied"> <%= element %> </li>
  <% end %>
</ul>
