<h1>Bookings#index</h1>

<ul>
  <% @waiting.each do |element| %>
    <li class="wainting"> <%= element %> </li>
  <% end %>
  <% @accepted.each do |element| %>
    <li class="accepted"> <%= element %> </li>
  <% end %>
  <% @denied.each do |element| %>
    <li class="denied"> <%= element %> </li>
  <% end %>
</ul>
