<div class="container mt-5 ">
  <h1 class="title-create-manga">Add your Manga</h1>
  <div class="form-size">

  <%= simple_form_for [@manga, @booking], data: { controller: 'flatpickr' } do |f| %>
  <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
  <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, id: 'end_time' } %>
  <div class="submit-create-manga"> <%= f.button :submit, "Submit", class: "btn-red"%> </div>
  <% end %>

  </div>
</div>
