<div class="fixed-bottom main-container-footer">
  <div class="footer-elements">
    <ul>
      <li>Hello</li>
      <li>-</li>
      <li>There</li>
      <li>-</li>
      <li>Footer</li>
    </ul>
  </div>
</div>
