<div class="fixed-bottom main-container-footer">
  <div class="footer-elements">
    <p> Mangagogo - 2023</p>
  </div>
  <div class="footer-elements d-flex left-footer">
    <p> Join us at our socials:</p>
    <ul>
      <li>
        <i class="fa-brands fa-twitter"></i>
      </li>
      <li>
        <i class="fa-brands fa-facebook"></i>
      </li>
      <li>
        <i class="fa-brands fa-instagram"></i>
      </li>
      <li>
        <i class="fa-brands fa-pinterest"></i>
      </li>
    </ul>
  </div>
</div>
