<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="container-navigation">
      <img class="avatar-large content" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <div class = "container-navigation-items">
        <ul>
          <li>Hello</li>
          <li>you</li>
          <li>there</li>
        </ul>
      </div>
    </div>
    <h1> Mangagogo</h1>
  </div>
</div>
