<div class="container">
  <h1>Components</h1>

  <h2>Boutons</h2>

  <%= link_to "BOUTON", root_path, class:"btn-red" %>
  <%= link_to "BOUTON", root_path, class:"btn-white" %>
  <%= link_to "BOUTON", root_path, class:"btn-black" %>


  <h2>Inputs</h2>
  <form action="">
    <input class="input" type="text">
    <input class="search-bar" type="text">
  </form>
</div>
