<div class = "banner">
</div>
<div class = "container main-container">
    <div class = "search-bar-container">
      <%= image_tag 'ramen.jpg', class:"search-image" %>
    </div>
    <div class = "search-bar-container">

        <form action="/" id="search-bar">
          <input type="input" name="seach" id="search-bar-input" placeholder="Which manga do you want to book ?">
        </form>
    </div>
</div>
<div class="bottom-banner">
</div>
