<div class="whole-container">
  <div class = "banner">
  </div>
  <div class = "container main-container-home" style="height: 20%">
      <div class = "search-bar-container">
        <%= image_tag 'ramen.jpg', class:"search-image" %>
      </div>
      <div class = "search-bar-container">
      <%= form_with url: mangas_path, method: :get, class: "search-bar" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-bar-input",
          placeholder: "Which manga would you like to book ?"
        %>
      <% end %>
      </div>
  </div>
  <div class="bottom-banner">
  </div>
</div>
