.background {
  background: linear-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)), url("background.jpg");
  // background-size: cover;
  height: 100vh;
  width: 100%;
  // opacity: 0.2;
  // background-attachment: fixed;
  // background-color: #b10202bd;


}
