.whole-container {
  width: 100%;
  height: 86vh;
}

.banner {
  background-image:url('banner.jpg');
  mix-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40%;
}

.bottom-banner {
  background-image:url('tabouret.jpg');
  background-size: cover;
  background-position: top;
  width: 100%;
  mix-blend-mode: multiply;
  margin-top: 10px;
  height: 40%;
}
