.button-red {
  text-decoration: none;
  color: $white;
  background-color: $red;
  border: 1px solid $black;
  height: 40px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.5s;
  &:hover {
    color: $white;
    text-decoration: none;
    background-color: $red;
    border: 1px solid $black;
    opacity: 0.6;
    transition: 0.5s;
    font-weight: 600;
  }
}

.button-white {
  text-decoration: none;
  color: #0A0A0A;
  background-color: $white;
  border: 1px solid $black;
  height: 40px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.2s;
  &:hover {
    color: #0A0A0A;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid $black;
    opacity: 0.5;
    transition: 0.2s;
  }
}

.button-black {
  text-decoration: none;
  color: #EEE2CE;
  background-color: $black;
  border: 1px solid $black;
  height: 40px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.5s;
  &:hover {
    color: #EEE2CE;
    text-decoration: none;
    border: 1px solid $black;
    font-weight: 600;
    opacity: 0.6;
    transition: 0.5s;
  }
}

.linkto-home {
  color: #EEE2CE;
  a{
    color: #EEE2CE;
    text-decoration: none;
  }
  &:hover {
    color: #EEE2CE;
    text-decoration: none;
  }
}
.btn-logo{
  text-decoration: none;
  margin: 15px 0;
}

.btn-logo h1{
  text-decoration: none;
  color: black;
  font-family: 'Bangers', cursive;
  margin: 0;
  font-size: 8px * 4;
  padding: 5 0;
}
